=formInput($fontSize, $radius, $padding, $fontFamily, $color, $width: 100%)
  font-size: $fontSize
  width: $width
  border-radius: $radius
  padding: $padding
  font-family: $fontFamily
  color: $color

=button($padding, $fontSize, $fontFamily, $border, $radius, $width: 100%)
  padding: $padding
  width: $width
  border-radius: $radius
  border: $border
  font-family: $fontFamily
  font-size: $fontSize


=busNo($display, $width, $height, $padding, $justify, $align, $radius, $background)
  display: $display
  width: $width
  height: $height
  padding: $padding
  justify-content: $justify
  align-items: $align
  border-radius: $radius
  background: $background

=anno($color, $align, $family, $size, $style, $weight)
  color: $color
  text-align: $align
  font-family: $family
  font-size: $size
  font-style: $style
  font-weight: $weight
