/*variables*/
$bgColor: #162139
$radius: 0.625rem
$fontSize: 1.5rem

$busNoBg: #FFF
$busNoText: #000
$busBorderR: 6.25rem
$busNoW: 5.5rem
$busNoH: 5.375rem

$buttonFont: "SF Pro"
$buttonFontSize: 1.125rem
$buttonBg1: #64EAFF
$buttonBg2: #fff
$buttonTextColor: #162139

$inputPhColor: #64EAFF
$inputPhFsize: 1.125rem
$inputPhFont: "SF Pro Text"

$annoColor: #fff
$annoSize: 1.25rem
$annoFamily: "SF Pro Text"
