/*variables*/
$appBgColor: #162139
$radius: 0.625rem
$fontSize: 1.5rem
$fontFamily: "SF Pro Text"

$busNoBg: #FFF
$busNoText: #000
$busBorderR: 6.25rem
$busNoW: 5.5rem
$busNoH: 5.375rem

$buttonFontFamily: "SF Pro"
$buttonFontSize: 1.25rem
$buttonTextColor: #162139
$buttonPadding: 0.3125rem 0 0.1875rem
$buttonRadius: 0.75rem

$inputColor: #000
$inputPhFSize: 1.4rem
$inputPhFont: "SF Pro Text"
$inputPadding: 0.9375rem 0.875rem
$inputRadius: 0.375rem
$inputFocus: #64EAFF


$annoColor: #fff
$annoSize: 1.25rem
$annoFamily: "SF Pro Text"

$menuBorder: 2px solid #000
$menuBg: #fff
$menuPadding: 8px 6px
$menuBorderR: 0.3125rem
$menuLinkBg: #2D2C2C
$menuText: #000
$menuFont: 'SF Pro Text'
$menuFontSize: 18px
$menuIconBg: #fff
$menuLiHover: #d2d1d1
